
ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 40px;
    padding-left: 3.5rem;
    padding-top: 40px;
    padding-bottom: 10px;
    justify-content: center;
    overflow: hidden;
}

li{
    list-style: none;
    overflow: hidden;
}