.navbarLink{
    margin-left: 1rem;
    margin-right: 1rem;
    height: 3rem;
    color: #c8c6c6;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 60ms;
    font-size: 1.15rem;
}

.navbarLink:hover{
    filter: grayscale(0%) opacity(1);
    color: #ececec;
}